@media (max-width:1200px){
    nav-item{
        padding: 0 10px;
    }
}
@media (max-width:990px) {
    .banner-head-text {
        margin-top: 50px;
    }
    .banner-head-text h2{
        font-size: 45px;
    }

}
@media  (max-width:768px){
    .banner-head-text h2{
        font-size:35px;
    }
    
    .banner .row {
        margin: 0 auto;
    }
}